<!DOCTYPE html>
<html lang="ro">
<head>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="jocuri, jocuri video, vanzare, top jocuri, ultima generatie">
    <meta name="description" content="Gaming Galaxy ofera o gama larga de jocuri video la preturi reduse, pentru a te face sa te relaxezi in timpul liber.">
    <meta name="author" content="Marin Iulian">
    
    <title>GameShop</title>
    <%- include("../fragmente/head.ejs") %>
</head>
<body>
    
    <%- include("../fragmente/header.ejs") %>
    
    <main>
        <h2>Altceva</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus porro ratione ab culpa necessitatibus asperiores laboriosam cumque dolorem natus nam distinctio alias, ipsa commodi. Iure repellat commodi inventore, ratione accusantium sequi ipsum magni quaerat autem consequatur libero. Quibusdam distinctio, nostrum voluptas esse, quos possimus vitae a fuga quis debitis natus deleniti voluptate ducimus? Praesentium temporibus excepturi vero ipsa rem, ad voluptatibus sequi hic suscipit accusamus magnam provident repellendus, voluptatum inventore enim maiores unde assumenda doloribus commodi! Non dolore nisi voluptatibus et facilis nobis saepe impedit ipsam. Necessitatibus officiis quia et, minus similique, aliquid saepe, soluta iusto incidunt animi commodi sapiente mollitia. In voluptatem nemo porro tempore assumenda quisquam adipisci nulla velit illum iste sunt vitae cupiditate hic est ea voluptatum, optio sit distinctio, consectetur eum dolorum ratione? Rem a obcaecati saepe doloribus, maiores officiis aut commodi sunt. Obcaecati officiis aspernatur esse consectetur et recusandae nulla alias, pariatur facere saepe rerum eos culpa fugiat molestiae nobis eligendi consequuntur, quod rem possimus? Expedita in officiis quo, culpa unde veniam deserunt cumque soluta assumenda maxime iste voluptates, mollitia nam quaerat. Placeat eligendi ipsam impedit nemo voluptatem, unde atque corporis soluta dignissimos, reiciendis temporibus. Blanditiis earum quidem unde tenetur hic amet voluptates tempore maxime?Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magni ipsa tenetur itaque suscipit, dolores perferendis iure hic. Repudiandae quis odio sed ullam nostrum adipisci eos ratione sit tempora minima temporibus vitae, id incidunt facere iste quas provident, eaque necessitatibus dolor. Veritatis culpa voluptas quidem, quasi vitae neque mollitia magnam amet dolorem consectetur inventore minus! Debitis modi accusantium vitae labore ipsa odit, ipsum nemo quis laborum repudiandae! Consectetur, eveniet! Nam ab delectus quidem mollitia. Dolorem voluptatibus explicabo minus? Eaque, accusantium iure. Distinctio consectetur delectus harum officia nihil rem odio accusantium iste exercitationem veniam animi, deleniti nobis dolore qui quam perferendis. Ipsam, ducimus minus. Voluptas officia assumenda, laudantium error quo aliquid quia expedita temporibus sint voluptatem tempora vero ducimus cumque iste ex aut ut? Blanditiis qui facilis molestias reiciendis laborum deserunt voluptatibus? Quisquam ea commodi deserunt ipsum ducimus vel unde nostrum eum, quos, consequuntur tenetur? Omnis, sed quo harum deserunt impedit exercitationem, ab nihil iste quidem fugit tempora quas consectetur ipsum sequi nam ullam minus delectus ipsa amet ratione placeat optio suscipit inventore. Explicabo, reprehenderit esse temporibus molestias cupiditate exercitationem ab laudantium dicta maiores alias error. Pariatur consectetur ut similique unde dolorum ratione a. Nam molestiae nisi debitis deleniti, quos molestias sed dolor saepe voluptatibus architecto accusamus autem reprehenderit minus placeat aliquam suscipit quas consequuntur eum. Fugit, architecto ipsum ipsam cumque iure sit eius, aliquam sapiente possimus quisquam perferendis vel tempora incidunt minus accusantium voluptatibus ullam excepturi, autem voluptate sint non! Ipsam aut, temporibus quo officiis odit doloremque architecto sunt minus enim dolorem sit eveniet unde adipisci ab quidem voluptatibus iste rem obcaecati fugit, voluptate libero eaque atque itaque. Incidunt architecto itaque ex ea similique excepturi mollitia dolorum minus assumenda ut ipsam, aliquam, maiores aspernatur rem inventore aliquid, iure nostrum fuga ducimus molestiae recusandae a. Maxime neque, inventore laborum, tempora sed omnis ipsa animi, odit, aliquid sint vitae perferendis veniam, consectetur quos quod fugiat laborum sed atque. Qui molestiae nulla esse quae dicta dignissimos, vel magni! Aperiam temporibus labore, aliquid minima sequi quo ipsam beatae?</p>
    </main>

    <%- include("../fragmente/footer.ejs") %>
</body>
</html>