#hamburger, #ch-menu{
    display: none;
}
body{
    --inaltime-meniu:50px;
    --latime-buton:210px;
    --culoare-meniu:var(--culoare-fundal-inchis);
    --culoare-border-buton:black;
}
nav{
    --culoare-hover:#0800AD;
    --text-meniu:black;
    background-color: var(--culoare-meniu);
    /* width:100%; */
    /* width: calc(100vw - 18px); */
    height:var(--inaltime-meniu);
    position:sticky;
    top:0;
    margin-left:calc(-1*var(--spatiere-pagina));
    z-index: 1;
}
ul.meniu, ul.meniu ul{

    padding:0;
    margin:0;
    list-style-type: none;
    box-sizing: border-box;
}
ul.meniu{
    display:flex;
    justify-content: center;
    flex-wrap:wrap;/*pune meniul pe randul urmator in cazul in care fereastra e mica*/
    
    
}
ul.meniu li{
    width:var(--latime-buton);
    height:var(--inaltime-meniu);
    background-color:var(--culoare-meniu);
    overflow: hidden;
    text-align: center;
    border: 1px solid var(--culoare-border-buton);
    transition:background-color 0.2s linear;
    transition:box-shadow 0.5s linear;
    box-sizing: border-box;
    white-space: nowrap;
    

}
ul.meniu > li{
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis:var(--latime-buton);
}
ul.meniu li:hover{
    overflow: visible;
    /* background-color:var(--culoare-hover) */
    box-shadow: inset 0 0 20px var(--culoare-hover);
}
ul.meniu ul{
    opacity:0;
    transition:all 0.5s linear;
    transform: scale(1,0);
    transform-origin:center top;
}
ul.meniu li:hover ul{
    opacity:1;
    transform:scale(1,1)
}

ul.meniu li div, ul.meniu li a{
    display: block;
    width:100%;
    height:100%;
    color:var(--text-meniu);
    text-decoration:none;
    font-weight: bold;
    line-height:var(--inaltime-meniu);
}

/* ul.meniu>li:nth-child(even){
    background-color: red;
}
ul.meniu>li:nth-child(odd){
    background-color: blue;
} */
/* ul.meniu li a{
   margin-left: 25px;
} */

.arrow {
    opacity: 0;
    transition: all 0.3s linear;
    position: absolute;
    left: 5px;
}

a:hover .arrow {
    opacity: 1;
    display: block;
    transform: translateX(100%);
}
ul.meniu li ul li:hover{
    box-shadow: none;
}

/* ul.meniu li div#acasa-mediu span{
    display:inline;
} */









