/* @import "general.css"; */
main{
    --padd-main:1rem;
    /* --culoare-griduri:radial-gradient(white,#FFF519); */
    padding-left:var(--padd-main);
    padding-right:var(--padd-main);
}
body{
    --dimensiune-valori:15px;
}
.checkboxes{
    display:block;
    width:50%;
    
    
}
.grid-produse{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:1rem;
    

}
.grid-produse .produs{
   
    background-image: var(--culoare-griduri);
    border-radius: 2rem;
    box-shadow: 0px 0px 0.8rem 0.3rem grey;
    overflow: hidden;
    
}

.grid-produse .produs h3{
    background-color: var(--culoare-roz-inchis);
    text-align: center;
    margin-top: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.grid-produse .produs h3 a{
    color:black;
}
.grid-produse .produs h3 a:hover{
    
    background-size:0 0;
}
.grid-produse .produs figure{
    text-align: center;
}
.grid-produse .produs figure img{
    border: 2px solid grey;
    max-height: 110px;
}
.grid-produse .produs .info-prod{
   
    background-color: var(--cl-marcare);
}


.grid-produse .produs p.categorie{

    text-align:center;
    font-weight:bold;
}

.info-produse{
    background-color: var(--cl-marcare);
    /* padding:0.2rem; */
    padding: 0;
    box-shadow: 0px 0px 0.5rem 0.15rem grey;
}

.produs{
    position: relative;
    /* height: 350px; */
}
.selecteaza-cos{
    display: block;
    background-color: var(--culoare-mov);
    position:absolute;
    bottom:0.5rem;
    right:0.5rem;
    border-radius: 0.5rem;
    text-align: center;
    padding:0.3rem;
    border:1px solid transparent;
}

.selecteaza-cos:hover{
    background-color: var(--cl-marcare);
    
    border:1px solid  var(--culoare-mov);
}

.int-produs{
    display: grid;
    height: 220px;
    grid-template-columns: 1fr 1fr;
 
    
   
}
.prod-init{
  
    text-align:center;
    font-weight:bold;
}
.info-prod{
    line-height: 9px;
    
}

.val{
    font-style: italic;
    font-size: var(--dimensiune-valori);
}
p .atr{
    font-weight: bold;
}

