<footer>
    <br><br>
    <a href="#titlu" id="link-top" title="Mergi sus" ><span id="triunghi" >&#5123</span></a>

    <section id="contact">
        <h2>Contact</h2>
        <p>Ne puteti contacta prin:</p>
        <ul>
            <li><p>Telefon: <span><a href="tel:+40721234567">0721234567</a></span></p></li>
            <li><p>Email: <span><a href="mailto:gaming@gmail.com"> gaming@gmail.com</a></span></p></li>
            <li><p>WhatsApp: <span><a href="whatsapp://send?phone=+0721234567">0721234567</a></span></p></li>
        </ul>
        <p>Adresa:</p><a href="https://www.google.com/maps/place/Facultatea+de+Matematică+și+Informatică7" target="_blank"><address>Bucuresti, sector6, Strada-Jocurilor, nr.25</address></a>
    </section>
        <small>&copy; Gaming Galaxy | <time lang="ro" datetime="2023-03-02">2 Martie 2023</time></small>
        <div id="proiect">Acesta este un proiect scolar!</div>
        <p id="watermark"></p>
        <div id="banner" class="disclbanner">
            <div class="inbanner">
                <p>
                    Acesta este un proiect scolar.
                    <span id="mesaj-cookies">Acceptati cookie-urile de pe site? 
                        <button id="ok_cookies">Ok</button>
                    </span>
                </p>
            </div>
        </div>
</footer>