<header>
       
    <div id="headerId"><h1 id="titlu"> <span class="fas fa-virus fa-spin"></span></i>Gaming Galaxy <i class="fa-brands fa-square-steam"></i></h1></div>
</header>
<nav>
    <label id="hamburger" for="ch-menu">
        <!-- <img src="resurse/imagini/Hamburger_icon_alb.png" alt="menu"> -->
        <div class="menu-icon">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
          </div>
    </label>
    <input id="ch-menu" type="checkbox">
    <ul class="meniu">
        <li><div id="acasa-mediu"><span class="fas fa-regular fa-house"></span><span id="acasa">Acasa</span></div>
            <ul>
                <li><a href="#welcome"><span class="arrow">→</span>Bine ati venit</a></li>
                <li><a href="#promotii"><span class="arrow">→</span>Promotii</a></li>
                <li><a href="#top_jocuri"><span class="arrow">→</span>Topul Jocurilor</a></li>
                <li><a href="#informatii"><span class="arrow">→</span>Informatii</a></li>
                <li><a href="#index-intrebari"><span class="arrow">→</span>Întrebări</a></li>
                <li><a href="#contact"><span class="arrow">→</span>Contact</a></li>
            </ul>
        
        
        
        </li>
        <li><a href="#">Inregistrare</a></li>
        <li><div>Jocuri</div>
            <ul>
                <li><a href="#jocuri" class="jocuri"><span class="arrow">→</span>Toate</a></li>
                <li><a href="#jocuri-aventura" class="jocuri"><span class="arrow">→</span>Jocuri aventura</a></li>
                <li><a href="#jocuri-strategie" class="jocuri"><span class="arrow">→</span>Jocuri strategie</a></li>
                <li><a href="#jocuri-sport" class="jocuri"><span class="arrow">→</span>Jocuri Sport</a></li>
                <li><a href="#jocuri-RPG" class="jocuri"><span class="arrow">→</span>Jocuri RPG</a></li>
                <li><a href="#jocuri-multiplayer" class="jocuri"><span class="arrow">→</span>Jocuri Multiplayer</a></li>
                
            </ul>
        </li>
        <li><a href="#">Comanda</a></li>
    </ul>
    </nav>
