<script src="/resurese/js/tema.js"></script>
<header>
       
    <div id="headerId"><h1 id="titlu"> <span class="fas fa-virus fa-spin"></span></i>Gaming Galaxy <i class="fa-brands fa-square-steam"></i></h1></div>
</header>
<nav>
    <label id="hamburger" for="ch-menu">
        <!-- <img src="resurse/imagini/Hamburger_icon_alb.png" alt="menu"> -->
        <div class="menu-icon">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
          </div>
    </label>
    <input id="ch-menu" type="checkbox">
    <ul class="meniu">
        <li><div id="acasa-mediu"><a href="/home"><span class="fas fa-regular fa-house"></span><span id="acasa">Acasa</span></a></div>
            <ul>
                <li><a href="#welcome"><span class="arrow">→</span>Bine ati venit</a></li>
                <li><a href="#promotii"><span class="arrow">→</span>Promotii</a></li>
                <li><a href="#top_jocuri"><span class="arrow">→</span>Topul Jocurilor</a></li>
                <li><a href="#informatii"><span class="arrow">→</span>Informatii</a></li>
                <li><a href="#index-intrebari"><span class="arrow">→</span>Întrebări</a></li>
                <li><a href="#contact"><span class="arrow">→</span>Contact</a></li>
            </ul>
        
        
        
        </li>
        <li><a href="#">Inregistrare</a></li>
        <li><div><a href="/produse">Jocuri</a></div>
            <ul>
                <li><a href="/produse" class="jocuri"><span class="arrow">→</span>Toate</a></li>
                
                <% for (let opt of locals.optiuniMeniu) { %>
                    <li><a href="/produse?tip=<%-opt.unnest%>"><span class="arrow">→</span><%- opt.unnest %></a> </li>
                <% } %>
                 
            </ul>
        </li>
        
        <li><a href="#">Comanda</a></li>
    </ul>
    </nav>
